{% extends 'index.html' %} 
{%load static%}
{% block title %} Duplicate Order List {% endblock %} 

{% block container %}

<div class="container">
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">      
            <div class="col-sm-10 my-3"></div>  
            <div class="col-sm-2 my-3">
                <a class="btn btn-success" href="/timesheet/create/" role="button">New</a>
                <a href="/home/" type="button" class="btn btn-danger">Close</a> 
            </div>
               
        </div>
        <div class="row">
            <div class="col-sm-12 my-3">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-9">
                                <h6 class="" >Timesheet List </h6>
                            </div>
                           
                        </div>
                    </div>  
                    <div class="card-body">
                        <div class="row">                   
                            <div class="col-lg-12">   
                                
                                {% for data in dataset %}
                                    
                                    <div class="card" style="border-radius: 1.3em; margin-bottom:7px;">                  
                                        <div class="card-body d-flex justify-content-between align-items-center" style="padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;">                    
                                            
                                            <div>
                                                <div>
                                                    <h3 class="my-1" style="font-size: 22px; font-weight: 600; color: #154a86; margin:0px;">{{data.date}}  </h3> 
                                                </div>
                                                
                                                <span style="font-size: 15px; color: #828997; margin: 0px"><strong>Hours:</strong> {{data.total_hours}}</span>
                                                <span style="font-size: 15px; color: #828997; margin: 0px"><strong>Mileage:</strong> {{data.total_mileage}}</span>
                                                <span style="font-size: 15px; color: #828997; margin: 0px"><strong>Status:</strong> 
                                                    {% if data.Status == 1 %} Draft
                                                    {% elif  data.Status == 2%} Sent
                                                    {% elif  data.Status == 3%} Pending
                                                    {% elif  data.Status == 4%} Aproved
                                                    {% elif  data.Status == 5%} Rejected
                                                    {% endif %}
                                                
                                                </span>
                                            </div>
                                            <a href="/timesheet/update/{{data.id}}"><i class="fa fa-arrow-right fa-xl mx-0.5" ></i> </a>
                                            
                                            
                                            
                                            <!--<i class="fa-sharp fa-solid fa-basket-shopping fa-2x mx-3" style=" width:60px; height: 60px; line-height: 60px; border-radius: 50%; text-align: center; color: #fff; background: #7c73ed; margin: 0px;"></i>-->
                                        </div>
                                    </div>
                                    
                                {% endfor %}
                               <!-- 
                               <table id="orders" class="table table-sm table-bordered table-striped">
                                        <thead class="table-primary">
                                            <tr>
                                                
                                                <th scope="col" style="width: 7%">Date</th>
                                            
                                                <th scope="col" style="width: 3%"></th>
                                            </tr>              
                                        </thead>
                                        <tbody>                                       
                                            {% for data in dataset %}
                                                <tr>
                                                    
                                                    <td>{{data.date}}</td>                                                    
                                                    <td> 
                                                        <a href="/update_employee/{{data.employeeID}}"><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a>
                                                        
                                                    </td>
                                                </tr>                                             
                                            {% endfor %}
                                        </tbody>                              
                                    </table> 
                               --> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
{% endblock %}